<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
   
      <div class="results">
        <h1>Here is your QR Code!</h1>
        <img src="<%= qr %>" alt="">
        <div class="buttons">
            <button id="down"><a href="<%= qr %>" download="proposed_file_name">Download</a></button>
            
        </div>
        
      </div>

      <button id="newQr"><a href="/">Generate New QR</a></button>
      


      
     

       